.App {
  text-align: center;
}

.layout {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.left-column {
  height: 100%;
  flex: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.level-bar-container {
  height: 100%;
  width: 15px;
  flex: 0 1 auto;
  display: flex;
  align-items: column;
}

.level-bar {
  width: 100%;
  background-color: aliceblue;
}

.text-area {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.live-text {
  word-wrap: break-word;
}

.level-bar-container {
  height: 10px;
  width: 100%;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
}

.level-bar {
  height: 10px;
  background-color: aliceblue;
}


.right-column {
  height: 100%;
  flex: 50%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
